* {
  margin: 0;
}

/* MOBILE */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 767px) 
and (-webkit-min-device-pixel-ratio: 1) { 
  body {
      width: 100%;
      font-family: 'Lato', sans-serif;
      background: rgb(253,234,145);
      background: radial-gradient(circle, rgba(253,234,145,1) 35%, rgba(255,211,0,1) 100%);
      height: 100vh;
    }
    nav  {
      position: fixed;
      position: top;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      align-items: center;
      background-color: #41444B;
  }

  nav li {
      padding:0 10px;
      padding: 20px;
      border-top: rgb(46, 47, 48);
      text-align: center;
      list-style-type: none;
      text-transform: uppercase;
      letter-spacing: 1.25vw;
  }

  nav li:hover {
      text-transform: uppercase;
      background-color: rgb(104, 107, 114);
  }

  .navbar-items li a {
      display: block;
  }

  nav a {
      text-decoration: none;
      color: white;
  }
  
  .toggle {
      order: 1;
      font-size: 20px;
      color: white;
  }
  .nav-i {
      order: 3;
      width: 100%;
      text-align: center;
      display: none;
  }
  .active .nav-i {
      display: block;
  }

  .wrapper  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
  }

  .item1 { 
    height: 100vh;
    width: 50vw;
    background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .item2 { 
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  section{
    display: flex;
    flex-direction: column;
    flex: wrap;
    justify-content: center;
    align-content: center;
  }

  .jumbo-text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13vw;
    letter-spacing: -6px;
    line-height: 11vw;
  } 

  p {
    font-size: 8vw;
    color: #41444B;
    text-align: left;
    font-family: 'Lato', sans-serif;
    margin: 0 20% 10% 20%;
    line-height: auto;
  } 

  button {
    font-size: 1.5vw;
    background-color: #41444B;
    border-radius: 46px;
    border-style: none;
    padding: 9px 32px;
    margin: auto;
    width: 50%;
  }

  .btn-continue {
    color: white;
    text-decoration: none;
  }
}

/* TABLET */
/* LAPTOP */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
        width: 100%;
        font-family: 'Lato', sans-serif;
        /* background-color: #FDDB3A; */
        background: rgb(253,234,145);
        background: radial-gradient(circle, rgba(253,234,145,1) 35%, rgba(255,211,0,1) 100%);
        height: 100vh;
      }
      nav  {
        height: 1.5vh;
        position: sticky;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        background-color: #41444B;
        padding: 20px;
    }

    nav li {
        padding:0 10px;
        list-style-type: none;
    }

    nav a {
        text-decoration: none;
        color: white;
    }
  
    .toggle {
      visibility: hidden;
    }

    .wrapper  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* justify-content: flex-start; */
    }
  
    .item1 { 
      height: 100vh;
      width: 50vw;
      background-image: url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
      background-position: center;
      background-size: cover;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
  
    .item2 { 
      height: 100vh;
      width: 50vw;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
  
    section{
      display: flex;
      flex-direction: column;
      flex: wrap;
      justify-content: center;
      align-content: center;
    }
  
    .jumbo-text {
      color: white;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 13vw;
      letter-spacing: -6px;
      line-height: 11vw;
    } 
  
    p {
      font-size: 8vw;
      color: #41444B;
      text-align: left;
      font-family: 'Lato', sans-serif;
      margin: 0 20% 10% 20%;
      line-height: auto;
    } 
  
    button {
      font-size: 1.5vw;
      background-color: #41444B;
      border-radius: 46px;
      border-style: none;
      padding: 9px 32px;
      margin: auto;
      width: 50%;
    }
  
    .btn-continue {
      color: white;
      text-decoration: none;
    }

  }

